In [14]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('./data/2024_총괄_20250722_25735.csv', encoding='euc-kr')
df

,성별,연령별,지역별,최종학력,장애여부,국적,(복수 응답) 현재 국적_1,(복수 응답) 현재 국적_2,귀화 여부,평소 규칙적 운동 여부,...,지난 주 수입을 목적으로 1시간 이상 일한 경험,지난 주 종사상 지위,고용 계약 기간 유무,지난 주 일자리 종사자 수,재직 기간(범위),지난 4주 이내 구직 경험,가구 연간소득 - 총 소득,2023년 1년간 공적 급여 수급 경험 - 취업지원 관련 수당(구직촉진수당^ 취업성공패키지 참여수당 등),가구기준 부채 총액,가구 기준 재산총액
0,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,2.0,1.0,NaN,500,2,0,25000
1,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,2.0,2.0,NaN,3500,2,15000,120000
2,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,6.0,2.0,NaN,10000,2,50,90000
3,1,1,11,4,0,1,1,NaN,2,1,...,1,3.0,2.0,2.0,1.0,NaN,3600,2,0,60000
4,1,1,11,4,0,1,1,NaN,2,1,...,2,NaN,NaN,NaN,NaN,1.0,2550,2,0,1800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15093,2,3,39,6,0,1,1,NaN,2,5,...,1,1.0,2.0,5.0,3.0,NaN,7500,2,300,3500
15094,2,3,39,6,0,1,1,NaN,2,5,...,1,1.0,2.0,3.0,3.0,NaN,12000,2,25000,20000
15095,2,3,39,6,2,1,1,NaN,2,3,...,1,6.0,NaN,1.0,2.0,NaN,3050,2,50,60000
15096,2,3,39,7,0,1,1,NaN,2,3,...,1,1.0,1.0,5.0,2.0,NaN,6500,2,0,67000
15097,2,3,39,7,0,1,1,NaN,2,5,...,1,4.0,NaN,4.0,3.0,NaN,6500,2,40,47000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15098 entries, 0 to 15097
Data columns (total 34 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   성별                                                          15098 non-null  int64
 1   연령별                                                         15098 non-null  int64
 2   지역별                                                         15098 non-null  int64
 3   최종학력                                                        15098 non-null  int64
 4   장애여부                                                        15098 non-null  int64
 5   국적                                                          15098 non-null  int64
 6   (복수 응답) 현재 국적_1                                             15098 non-null  int64
 7   (복수 응답) 현재 국적_2                                             15 non-null     float64
 8   귀화 여부                                                       15098 non-null  int64
 9   평소 규칙적 운동 여부                                                15098 non-null  int64
 10  건강 문제 혹은 장애로 인한 일상생활 및 사회활동을 제한을 받았던 경험                     15098 non-null  int64
 11  취업 준비 도움 주체 - 학교(상담 교사^ 교사^ 지도 교수 등)                        7912 non-null   float64
 12  취업 준비 도움 주체 - 공공 기관(고용 센터^ 청소년 상담 복지 센터 등)                  7912 non-null   float64
 13  취업 준비 도움 주체 - 사설 기관(사설 학원^ 인터넷 취업 사이트 등)                    7912 non-null   float64
 14  취업 준비 도움 주체 - 부모님이나 친인척                                     7912 non-null   float64
 15  취업 준비 도움 주체 - 친구^ 선후배                                       7912 non-null   float64
 16  취업 준비 도움 주체 - 온라인 커뮤니티/SNS. 유튜브                             7912 non-null   float64
 17  취업 준비 도움 정도 - 학교(상담 교사^ 교사^ 지도 교수 등)                        3582 non-null   float64
 18  취업 준비 도움 정도 - 공공 기관(고용 센터^ 청소년 상담 복지 센터 등)                  2018 non-null   float64
 19  취업 준비 도움 정도 - 사설 기관(사설 학원^ 인터넷 취업 사이트 등)                    3367 non-null   float64
 20  취업 준비 도움 정도 - 부모님이나 친인척                                     2891 non-null   float64
 21  취업 준비 도움 정도 - 친구^ 선후배                                       4327 non-null   float64
 22  취업 준비 도움 정도 - 온라인 커뮤니티/SNS. 유튜브                             3555 non-null   float64
 23  최근 1년간 취업 및 창업 경험 여부                                        7912 non-null   float64
 24  지난 주 수입을 목적으로 1시간 이상 일한 경험                                  15098 non-null  int64
 25  지난 주 종사상 지위                                                 10543 non-null  float64
 26  고용 계약 기간 유무                                                 9608 non-null   float64
 27  지난 주 일자리 종사자 수                                              10543 non-null  float64
 28  재직 기간(범위)                                                   10543 non-null  float64
 29  지난 4주 이내 구직 경험                                              4555 non-null   float64
 30  가구 연간소득 - 총 소득                                              15098 non-null  int64
 31  2023년 1년간 공적 급여 수급 경험 - 취업지원 관련 수당(구직촉진수당^ 취업성공패키지 참여수당 등)  15098 non-null  int64
 32  가구기준 부채 총액                                                  15098 non-null  int64
 33  가구 기준 재산총액                                                  15098 non-null  int64
dtypes: float64(19), int64(15)
memory usage: 3.9 MB

In [17]:
df.columns

Index(['성별', '연령별', '지역별', '최종학력', '장애여부', '국적', '(복수 응답) 현재 국적_1',
       '(복수 응답) 현재 국적_2', '귀화 여부', '평소 규칙적 운동 여부',
       '건강 문제 혹은 장애로 인한 일상생활 및 사회활동을 제한을 받았던 경험',
       '취업 준비 도움 주체 - 학교(상담 교사^ 교사^ 지도 교수 등)',
       '취업 준비 도움 주체 - 공공 기관(고용 센터^ 청소년 상담 복지 센터 등)',
       '취업 준비 도움 주체 - 사설 기관(사설 학원^ 인터넷 취업 사이트 등)', '취업 준비 도움 주체 - 부모님이나 친인척',
       '취업 준비 도움 주체 - 친구^ 선후배', '취업 준비 도움 주체 - 온라인 커뮤니티/SNS. 유튜브',
       '취업 준비 도움 정도 - 학교(상담 교사^ 교사^ 지도 교수 등)',
       '취업 준비 도움 정도 - 공공 기관(고용 센터^ 청소년 상담 복지 센터 등)',
       '취업 준비 도움 정도 - 사설 기관(사설 학원^ 인터넷 취업 사이트 등)', '취업 준비 도움 정도 - 부모님이나 친인척',
       '취업 준비 도움 정도 - 친구^ 선후배', '취업 준비 도움 정도 - 온라인 커뮤니티/SNS. 유튜브',
       '최근 1년간 취업 및 창업 경험 여부', '지난 주 수입을 목적으로 1시간 이상 일한 경험', '지난 주 종사상 지위',
       '고용 계약 기간 유무', '지난 주 일자리 종사자 수', '재직 기간(범위)', '지난 4주 이내 구직 경험',
       '가구 연간소득 - 총 소득',
       '2023년 1년간 공적 급여 수급 경험 - 취업지원 관련 수당(구직촉진수당^ 취업성공패키지 참여수당 등)',
       '가구기준 부채 총액', '가구 기준 재산총액'],
      dtype='object')

In [18]:
# 장애 '해당없음(0)' 만 추출
df = df[df['장애여부'] == 0]
df

,성별,연령별,지역별,최종학력,장애여부,국적,(복수 응답) 현재 국적_1,(복수 응답) 현재 국적_2,귀화 여부,평소 규칙적 운동 여부,...,지난 주 수입을 목적으로 1시간 이상 일한 경험,지난 주 종사상 지위,고용 계약 기간 유무,지난 주 일자리 종사자 수,재직 기간(범위),지난 4주 이내 구직 경험,가구 연간소득 - 총 소득,2023년 1년간 공적 급여 수급 경험 - 취업지원 관련 수당(구직촉진수당^ 취업성공패키지 참여수당 등),가구기준 부채 총액,가구 기준 재산총액
0,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,2.0,1.0,NaN,500,2,0,25000
1,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,2.0,2.0,NaN,3500,2,15000,120000
2,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,6.0,2.0,NaN,10000,2,50,90000
3,1,1,11,4,0,1,1,NaN,2,1,...,1,3.0,2.0,2.0,1.0,NaN,3600,2,0,60000
4,1,1,11,4,0,1,1,NaN,2,1,...,2,NaN,NaN,NaN,NaN,1.0,2550,2,0,1800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15092,2,3,39,6,0,1,1,NaN,2,4,...,1,1.0,2.0,3.0,3.0,NaN,4000,2,200,10000
15093,2,3,39,6,0,1,1,NaN,2,5,...,1,1.0,2.0,5.0,3.0,NaN,7500,2,300,3500
15094,2,3,39,6,0,1,1,NaN,2,5,...,1,1.0,2.0,3.0,3.0,NaN,12000,2,25000,20000
15096,2,3,39,7,0,1,1,NaN,2,3,...,1,1.0,1.0,5.0,2.0,NaN,6500,2,0,67000
15097,2,3,39,7,0,1,1,NaN,2,5,...,1,4.0,NaN,4.0,3.0,NaN,6500,2,40,47000

In [19]:
# 대한민국 국적만 추출
df = df[(df['국적'] == 1) | (df['(복수 응답) 현재 국적_1'] == 1)]
df

,성별,연령별,지역별,최종학력,장애여부,국적,(복수 응답) 현재 국적_1,(복수 응답) 현재 국적_2,귀화 여부,평소 규칙적 운동 여부,...,지난 주 수입을 목적으로 1시간 이상 일한 경험,지난 주 종사상 지위,고용 계약 기간 유무,지난 주 일자리 종사자 수,재직 기간(범위),지난 4주 이내 구직 경험,가구 연간소득 - 총 소득,2023년 1년간 공적 급여 수급 경험 - 취업지원 관련 수당(구직촉진수당^ 취업성공패키지 참여수당 등),가구기준 부채 총액,가구 기준 재산총액
0,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,2.0,1.0,NaN,500,2,0,25000
1,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,2.0,2.0,NaN,3500,2,15000,120000
2,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,6.0,2.0,NaN,10000,2,50,90000
3,1,1,11,4,0,1,1,NaN,2,1,...,1,3.0,2.0,2.0,1.0,NaN,3600,2,0,60000
4,1,1,11,4,0,1,1,NaN,2,1,...,2,NaN,NaN,NaN,NaN,1.0,2550,2,0,1800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15092,2,3,39,6,0,1,1,NaN,2,4,...,1,1.0,2.0,3.0,3.0,NaN,4000,2,200,10000
15093,2,3,39,6,0,1,1,NaN,2,5,...,1,1.0,2.0,5.0,3.0,NaN,7500,2,300,3500
15094,2,3,39,6,0,1,1,NaN,2,5,...,1,1.0,2.0,3.0,3.0,NaN,12000,2,25000,20000
15096,2,3,39,7,0,1,1,NaN,2,3,...,1,1.0,1.0,5.0,2.0,NaN,6500,2,0,67000
15097,2,3,39,7,0,1,1,NaN,2,5,...,1,4.0,NaN,4.0,3.0,NaN,6500,2,40,47000

In [20]:
# 건강, 신체, 정신 장애로 사회활동에 제한을 받지 않는 사람만 추출
df = df[df['건강 문제 혹은 장애로 인한 일상생활 및 사회활동을 제한을 받았던 경험'] == 2]
df

,성별,연령별,지역별,최종학력,장애여부,국적,(복수 응답) 현재 국적_1,(복수 응답) 현재 국적_2,귀화 여부,평소 규칙적 운동 여부,...,지난 주 수입을 목적으로 1시간 이상 일한 경험,지난 주 종사상 지위,고용 계약 기간 유무,지난 주 일자리 종사자 수,재직 기간(범위),지난 4주 이내 구직 경험,가구 연간소득 - 총 소득,2023년 1년간 공적 급여 수급 경험 - 취업지원 관련 수당(구직촉진수당^ 취업성공패키지 참여수당 등),가구기준 부채 총액,가구 기준 재산총액
0,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,2.0,1.0,NaN,500,2,0,25000
1,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,2.0,2.0,NaN,3500,2,15000,120000
2,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,6.0,2.0,NaN,10000,2,50,90000
3,1,1,11,4,0,1,1,NaN,2,1,...,1,3.0,2.0,2.0,1.0,NaN,3600,2,0,60000
4,1,1,11,4,0,1,1,NaN,2,1,...,2,NaN,NaN,NaN,NaN,1.0,2550,2,0,1800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15092,2,3,39,6,0,1,1,NaN,2,4,...,1,1.0,2.0,3.0,3.0,NaN,4000,2,200,10000
15093,2,3,39,6,0,1,1,NaN,2,5,...,1,1.0,2.0,5.0,3.0,NaN,7500,2,300,3500
15094,2,3,39,6,0,1,1,NaN,2,5,...,1,1.0,2.0,3.0,3.0,NaN,12000,2,25000,20000
15096,2,3,39,7,0,1,1,NaN,2,3,...,1,1.0,1.0,5.0,2.0,NaN,6500,2,0,67000
15097,2,3,39,7,0,1,1,NaN,2,5,...,1,4.0,NaN,4.0,3.0,NaN,6500,2,40,47000

In [21]:
# 1주일 동안 1시간 이상 일한 사람(취업자 기준)만 추출
# df = df[df['지난 주 수입을 목적으로 1시간 이상 일한 경험'] == 1]
# df

In [22]:
# 직장에서 '근로자'로 일한 사람만 추출
df = df[(df['지난 주 종사상 지위'] == 1) | (df['지난 주 종사상 지위'] == 2) | (df['지난 주 종사상 지위'] == 3)]
df

,성별,연령별,지역별,최종학력,장애여부,국적,(복수 응답) 현재 국적_1,(복수 응답) 현재 국적_2,귀화 여부,평소 규칙적 운동 여부,...,지난 주 수입을 목적으로 1시간 이상 일한 경험,지난 주 종사상 지위,고용 계약 기간 유무,지난 주 일자리 종사자 수,재직 기간(범위),지난 4주 이내 구직 경험,가구 연간소득 - 총 소득,2023년 1년간 공적 급여 수급 경험 - 취업지원 관련 수당(구직촉진수당^ 취업성공패키지 참여수당 등),가구기준 부채 총액,가구 기준 재산총액
0,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,2.0,1.0,NaN,500,2,0,25000
1,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,2.0,2.0,NaN,3500,2,15000,120000
2,1,1,11,4,0,1,1,NaN,2,1,...,1,1.0,2.0,6.0,2.0,NaN,10000,2,50,90000
3,1,1,11,4,0,1,1,NaN,2,1,...,1,3.0,2.0,2.0,1.0,NaN,3600,2,0,60000
11,1,1,11,4,0,1,1,NaN,2,1,...,1,2.0,1.0,4.0,1.0,NaN,1500,2,30,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15090,2,3,39,6,0,1,1,NaN,2,4,...,2,1.0,1.0,3.0,3.0,NaN,3840,2,1000,1500
15092,2,3,39,6,0,1,1,NaN,2,4,...,1,1.0,2.0,3.0,3.0,NaN,4000,2,200,10000
15093,2,3,39,6,0,1,1,NaN,2,5,...,1,1.0,2.0,5.0,3.0,NaN,7500,2,300,3500
15094,2,3,39,6,0,1,1,NaN,2,5,...,1,1.0,2.0,3.0,3.0,NaN,12000,2,25000,20000
15096,2,3,39,7,0,1,1,NaN,2,3,...,1,1.0,1.0,5.0,2.0,NaN,6500,2,0,67000

In [23]:
# 필요 없는 열 제거
df = df.drop(['장애여부', '국적', '(복수 응답) 현재 국적_1', '(복수 응답) 현재 국적_2', 
              '귀화 여부', '건강 문제 혹은 장애로 인한 일상생활 및 사회활동을 제한을 받았던 경험',
              '취업 준비 도움 주체 - 학교(상담 교사^ 교사^ 지도 교수 등)', '취업 준비 도움 주체 - 사설 기관(사설 학원^ 인터넷 취업 사이트 등)',
              '취업 준비 도움 주체 - 부모님이나 친인척', '취업 준비 도움 주체 - 친구^ 선후배', '취업 준비 도움 주체 - 온라인 커뮤니티/SNS. 유튜브',
              '취업 준비 도움 정도 - 학교(상담 교사^ 교사^ 지도 교수 등)', '취업 준비 도움 정도 - 사설 기관(사설 학원^ 인터넷 취업 사이트 등)',
              '취업 준비 도움 정도 - 부모님이나 친인척', '취업 준비 도움 정도 - 온라인 커뮤니티/SNS. 유튜브',
              '취업 준비 도움 정도 - 친구^ 선후배', 
              '최근 1년간 취업 및 창업 경험 여부', '지난 4주 이내 구직 경험',
              ], axis=1)
df

,성별,연령별,지역별,최종학력,평소 규칙적 운동 여부,취업 준비 도움 주체 - 공공 기관(고용 센터^ 청소년 상담 복지 센터 등),취업 준비 도움 정도 - 공공 기관(고용 센터^ 청소년 상담 복지 센터 등),지난 주 수입을 목적으로 1시간 이상 일한 경험,지난 주 종사상 지위,고용 계약 기간 유무,지난 주 일자리 종사자 수,재직 기간(범위),가구 연간소득 - 총 소득,2023년 1년간 공적 급여 수급 경험 - 취업지원 관련 수당(구직촉진수당^ 취업성공패키지 참여수당 등),가구기준 부채 총액,가구 기준 재산총액
0,1,1,11,4,1,NaN,NaN,1,1.0,2.0,2.0,1.0,500,2,0,25000
1,1,1,11,4,1,NaN,NaN,1,1.0,2.0,2.0,2.0,3500,2,15000,120000
2,1,1,11,4,1,NaN,NaN,1,1.0,2.0,6.0,2.0,10000,2,50,90000
3,1,1,11,4,1,NaN,NaN,1,3.0,2.0,2.0,1.0,3600,2,0,60000
11,1,1,11,4,1,2.0,NaN,1,2.0,1.0,4.0,1.0,1500,2,30,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15090,2,3,39,6,4,2.0,NaN,2,1.0,1.0,3.0,3.0,3840,2,1000,1500
15092,2,3,39,6,4,2.0,NaN,1,1.0,2.0,3.0,3.0,4000,2,200,10000
15093,2,3,39,6,5,2.0,NaN,1,1.0,2.0,5.0,3.0,7500,2,300,3500
15094,2,3,39,6,5,2.0,NaN,1,1.0,2.0,3.0,3.0,12000,2,25000,20000
15096,2,3,39,7,3,2.0,NaN,1,1.0,1.0,5.0,2.0,6500,2,0,67000

In [24]:
# 컬럼명 정의
df.columns = ['성별', '연령별', '지역별', '학력', '운동', '취업 준비 도움 주체 - 공공 기관', 
               '취업 준비 도움 정도 - 공공 기관', 
               '취업자여부', '고용형태', '고용기간', '사업체규모', '재직기간(범위)', 
              '가구 연간소득 - 총 소득(만원)', '수혜여부(만원)', '부채(만원)', '재산(만원)']
df

,성별,연령별,지역별,학력,운동,취업 준비 도움 주체 - 공공 기관,취업 준비 도움 정도 - 공공 기관,취업자여부,고용형태,고용기간,사업체규모,재직기간(범위),가구 연간소득 - 총 소득(만원),수혜여부(만원),부채(만원),재산(만원)
0,1,1,11,4,1,NaN,NaN,1,1.0,2.0,2.0,1.0,500,2,0,25000
1,1,1,11,4,1,NaN,NaN,1,1.0,2.0,2.0,2.0,3500,2,15000,120000
2,1,1,11,4,1,NaN,NaN,1,1.0,2.0,6.0,2.0,10000,2,50,90000
3,1,1,11,4,1,NaN,NaN,1,3.0,2.0,2.0,1.0,3600,2,0,60000
11,1,1,11,4,1,2.0,NaN,1,2.0,1.0,4.0,1.0,1500,2,30,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15090,2,3,39,6,4,2.0,NaN,2,1.0,1.0,3.0,3.0,3840,2,1000,1500
15092,2,3,39,6,4,2.0,NaN,1,1.0,2.0,3.0,3.0,4000,2,200,10000
15093,2,3,39,6,5,2.0,NaN,1,1.0,2.0,5.0,3.0,7500,2,300,3500
15094,2,3,39,6,5,2.0,NaN,1,1.0,2.0,3.0,3.0,12000,2,25000,20000
15096,2,3,39,7,3,2.0,NaN,1,1.0,1.0,5.0,2.0,6500,2,0,67000

In [25]:
# 결측치 확인
df.isna().sum()

성별                        0
연령별                       0
지역별                       0
학력                        0
운동                        0
취업 준비 도움 주체 - 공공 기관    3900
취업 준비 도움 정도 - 공공 기관    7984
취업자여부                     0
고용형태                      0
고용기간                      0
사업체규모                     0
재직기간(범위)                  0
가구 연간소득 - 총 소득(만원)        0
수혜여부(만원)                  0
부채(만원)                    0
재산(만원)                    0
dtype: int64

In [27]:
# 취업 준비 도움 주체, 도움 정도 결측치 -> 없다(2)로 채우기
fillna_cols = [
    '취업 준비 도움 주체 - 공공 기관', '취업 준비 도움 정도 - 공공 기관'
]
df[fillna_cols] = df[fillna_cols].fillna(2)

# float -> int로 바꾸기
df[fillna_cols] = df[fillna_cols].astype(int)
df

,성별,연령별,지역별,학력,운동,취업 준비 도움 주체 - 공공 기관,취업 준비 도움 정도 - 공공 기관,취업자여부,고용형태,고용기간,사업체규모,재직기간(범위),가구 연간소득 - 총 소득(만원),수혜여부(만원),부채(만원),재산(만원)
0,1,1,11,4,1,2,2,1,1.0,2.0,2.0,1.0,500,2,0,25000
1,1,1,11,4,1,2,2,1,1.0,2.0,2.0,2.0,3500,2,15000,120000
2,1,1,11,4,1,2,2,1,1.0,2.0,6.0,2.0,10000,2,50,90000
3,1,1,11,4,1,2,2,1,3.0,2.0,2.0,1.0,3600,2,0,60000
11,1,1,11,4,1,2,2,1,2.0,1.0,4.0,1.0,1500,2,30,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15090,2,3,39,6,4,2,2,2,1.0,1.0,3.0,3.0,3840,2,1000,1500
15092,2,3,39,6,4,2,2,1,1.0,2.0,3.0,3.0,4000,2,200,10000
15093,2,3,39,6,5,2,2,1,1.0,2.0,5.0,3.0,7500,2,300,3500
15094,2,3,39,6,5,2,2,1,1.0,2.0,3.0,3.0,12000,2,25000,20000
15096,2,3,39,7,3,2,2,1,1.0,1.0,5.0,2.0,6500,2,0,67000

In [28]:
# float 타입 열 -> int 타입으로 변환
float_to_int_cols = [
    '고용형태', 
    '고용기간', 
    '사업체규모', 
    '재직기간(범위)'
]

df[float_to_int_cols] = df[float_to_int_cols].astype(int)
df

,성별,연령별,지역별,학력,운동,취업 준비 도움 주체 - 공공 기관,취업 준비 도움 정도 - 공공 기관,취업자여부,고용형태,고용기간,사업체규모,재직기간(범위),가구 연간소득 - 총 소득(만원),수혜여부(만원),부채(만원),재산(만원)
0,1,1,11,4,1,2,2,1,1,2,2,1,500,2,0,25000
1,1,1,11,4,1,2,2,1,1,2,2,2,3500,2,15000,120000
2,1,1,11,4,1,2,2,1,1,2,6,2,10000,2,50,90000
3,1,1,11,4,1,2,2,1,3,2,2,1,3600,2,0,60000
11,1,1,11,4,1,2,2,1,2,1,4,1,1500,2,30,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15090,2,3,39,6,4,2,2,2,1,1,3,3,3840,2,1000,1500
15092,2,3,39,6,4,2,2,1,1,2,3,3,4000,2,200,10000
15093,2,3,39,6,5,2,2,1,1,2,5,3,7500,2,300,3500
15094,2,3,39,6,5,2,2,1,1,2,3,3,12000,2,25000,20000
15096,2,3,39,7,3,2,2,1,1,1,5,2,6500,2,0,67000

In [29]:
# 결측치 없음 확인
df.isna().sum()

성별                     0
연령별                    0
지역별                    0
학력                     0
운동                     0
취업 준비 도움 주체 - 공공 기관    0
취업 준비 도움 정도 - 공공 기관    0
취업자여부                  0
고용형태                   0
고용기간                   0
사업체규모                  0
재직기간(범위)               0
가구 연간소득 - 총 소득(만원)     0
수혜여부(만원)               0
부채(만원)                 0
재산(만원)                 0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9285 entries, 0 to 15096
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   성별                   9285 non-null   int64
 1   연령별                  9285 non-null   int64
 2   지역별                  9285 non-null   int64
 3   학력                   9285 non-null   int64
 4   운동                   9285 non-null   int64
 5   취업 준비 도움 주체 - 공공 기관  9285 non-null   int64
 6   취업 준비 도움 정도 - 공공 기관  9285 non-null   int64
 7   취업자여부                9285 non-null   int64
 8   고용형태                 9285 non-null   int64
 9   고용기간                 9285 non-null   int64
 10  사업체규모                9285 non-null   int64
 11  재직기간(범위)             9285 non-null   int64
 12  가구 연간소득 - 총 소득(만원)   9285 non-null   int64
 13  수혜여부(만원)             9285 non-null   int64
 14  부채(만원)               9285 non-null   int64
 15  재산(만원)               9285 non-null   int64
dtypes: int64(16)
memory usage: 1.2 MB

In [32]:
df.describe()

,성별,연령별,지역별,학력,운동,취업 준비 도움 주체 - 공공 기관,취업 준비 도움 정도 - 공공 기관,취업자여부,고용형태,고용기간,사업체규모,재직기간(범위),가구 연간소득 - 총 소득(만원),수혜여부(만원),부채(만원),재산(만원)
count,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9285.000000,9.285000e+03
mean,1.511901,2.077975,27.533764,5.534195,2.860851,1.859882,2.213139,1.030156,1.298331,1.759720,4.423156,2.065590,5509.453958,1.972859,3400.467744,2.466155e+04
std,0.499885,0.777036,8.385662,0.830431,1.246806,0.347129,0.626088,0.171026,0.582824,0.427276,1.943804,0.813968,4255.157789,0.162502,7320.467110,4.731005e+04
min,1.000000,1.000000,11.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000e+00
25%,1.000000,1.000000,23.000000,5.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,3.000000,1.000000,3275.000000,2.000000,0.000000,3.000000e+03
50%,2.000000,2.000000,31.000000,6.000000,3.000000,2.000000,2.000000,1.000000,1.000000,2.000000,4.000000,2.000000,4800.000000,2.000000,0.000000,1.300000e+04
75%,2.000000,3.000000,34.000000,6.000000,4.000000,2.000000,2.000000,1.000000,1.000000,2.000000,5.000000,3.000000,7100.000000,2.000000,4000.000000,3.200000e+04
max,2.000000,3.000000,39.000000,8.000000,5.000000,2.000000,5.000000,2.000000,3.000000,2.000000,9.000000,3.000000,210000.000000,2.000000,200000.000000,3.100000e+06

In [33]:
# 데이터 파일 생성
df.to_csv('./data/youth_life.csv', encoding='euc-kr')